* {
  font-family: impact
}
body {
  background-image: url(http://4.bp.blogspot.com/-UaUsWdWmzSE/VftZBsX3RqI/AAAAAAAADJE/7reyNr7aJQM/s1600/Dripping%2BGreen%2BSlime.png);
  opacity: .5%;
}
img {
  margin: 2px auto 2px auto;
}
div {
  width:32%;
  height:50%;
  display: inline-block;
  vertical-align:text-top;
  color:white;
  text-align:center;
  background-color: white;
  margin: 2px auto 2px auto;
}
h1 {
  color:#2efaff;
  font-size: 400%;
  text-align: center;
}
.behind-text {
  border: 2px
  solid white;
  border-collapse: collapse;
  padding:5px;
  opacity: .5%;
}
h2 {
  color:#2bfc26;
  font-size: 200%;
  text-align: center;
}
p {
  color:rgb(0,0,0);
  text-align:center;
}
