@font-face {
  font-family: 'lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'merriweather', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Merriweather-Regular.ttf') format('truetype');
}
