html {
  padding: 1px;
  background-color: silver;
}

* {
  line-height: 1.45em;
}

div {
  background-color: rgba(129,11,11,.5);
  padding: inherit;
}

#header {
  font-family: 'lato', cursive;
  font-weight: normal;
  border: 5px solid black;
  margin: auto;
  padding: 10px;
  background-color: rgba(129,11,11,.5);
  text-align: center !important;
  color:rgb(62, 6, 6);
  font-variant: small-caps;
}

.body {
  font-family: 'merriweather';
  border: 5px solid black;
  margin: auto;
  padding: 10px
  background-color: rgba(129,11,11,.5);
  text-align: justify;
}

.body p::first-letter {
  color:rgb(62,6,6);
  font-family: 'Kumar One Outline', cursive;
  font-size: 2.5em;
  font-weight: bold;
}

.button {
  font-size: 150%
  color: black;
  font-weight: 200;
  text-align: center;
}

.button:hover {
  color: white;
}
.button:active {
  color: powderblue;
}
.button:visited {
  color: purple;
  border-color: #383636 #8f8b8b #8f8b8b #383636;
  border-width: 15px 9px 9px 15px;
}
