body {
  background-color: FDFDF1;
}
.woman {
  position: absolute;
  left: 40px;
  top: 70px;
  width: 503px;
  height: 1200px;
  z-index: 3;
}
.filterqueen-text {
  position: absolute;
  left: 376px;
  top: 260px;
  width: 400px;
  height: 100px;
  transform: scaleY(1.5);
  z-index 1;
  padding: 40px;
}
.sub-text {
  position: absolute;
  left: 378px;
  top: 372px;
  width: 600;
  height: 200;
  font-style: italic;
}
.scene {
  position: absolute;
  left: 26px;
  top: 898px;
  width: 500;
  height: 300;
  z-index: 2;
}
.textblock1 {
  position: absolute;
  left: 20px;
  top: 1155px;
  width: 500;
  height: 200;
}
.filterqueen {
  position: absolute;
  left: 56px;
  top: 1294px;
  width: 500;
  height: 300;
  z-index: 2;
}
.textblock2 {
  position: absolute;
  left: 23px;
  top: 1540px;
  width: 500;
  height: 200;
  z-index: 2;
}
.leftdist {
  position: absolute;
  left: 340px;
  top: 30px;
  width: 550;
  height: 500;
  transform: rotate(-12deg);
  z-index: 2;
}
.rightdist {
position: absolute;
left: 500px;
top: 90px;
width: 550;
height: 500;
transform: rotate(12deg);
z-index: 2;
}
.bottom {
    position: absolute;
    left: 300px;
    top: 270px;
    width: 900;
    height: 500;
    transform: scaleY(1.5);
    z-index: 2;
}
.icon-inside {
  position: absolute;
  left: 363px;
  top: 447px;
  width: 500;
  height: 300;
  z-index: 1;
}
.icon-wastebasket {
  position: absolute;
  left: 377px;
  top: 737px;
  width: 500;
  height: 300;
  z-index: 1;
}


.icon-outside {
  position: absolute;
  left: 368px;
  top: 573px;
  width: 500;
  height: 300;
  z-index: 1;
}

.icon-inside-text {
  position: absolute;
  left: 565px;
  top: 487px;
  width: 500;
  height: 300;
  z-index: 1;
}

.icon-outside-text {
  position: absolute;
  left: 563px;
  top: 620px;
  width: 500;
  height: 300;
  z-index: 1;
}

.icon-wastebasket-text {
  position: absolute;
  left: 5662px;
  top: 730px;
  width: 500;
  height: 300;
  z-index: 1;
}


h1 {
  font-style: italic;
  color: red;
  font-size:50px;
}
.textblock3 {
  position: absolute;
  left: 415px;
  top: 890px;
  width: 370;
  height: 370;
  padding: 5px;
}
.logo {
  position: absolute;
  left: 298px;
  top:1230px;
  width: 500;
  height: 300;
  z-index: 2;
}

.guarantee {
  position: absolute;
  left: 650px;
  top:1412px;
  width: 500;
  height: 300;
  z-index: 3;
}

.coupon {
  position: absolute;
  left: 398px;
  top: 1486px;
  width: 356;
  height: 199;
  z-index: 1;
  padding-left: 13px;
  border: 5px dashed black;
}
.footer {
    position: absolute;
    left: 11px;
    top: 1695px;
	width: 800;
	height: 370;
	padding:5px;
}
